<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:theme="@android:style/Theme.Material.NoActionBar" android:label="Air TV · Файлы" android:allowBackup="false" android:banner="@drawable/banner" android:icon="@drawable/icon">
        <activity android:name=".PlaybackActivity" android:exported="false" />
        <activity android:name=".LabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
